<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033598528043-83nsf9lmcevmb3fua2eg87j9gn1kek9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033598528043-83nsf9lmcevmb3fua2eg87j9gn1kek9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDCmazrrtBfcx10gkwVd-pzU0IxDCqUVK4</string>
	<key>GCM_SENDER_ID</key>
	<string>1033598528043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partsfinderApp</string>
	<key>PROJECT_ID</key>
	<string>parts-finder-data</string>
	<key>STORAGE_BUCKET</key>
	<string>parts-finder-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033598528043:ios:98b3d64e6fce6fa339186e</string>
</dict>
</plist>